html {
  scroll-behavior: smooth;
}


body {
  font-family: 'BIZ UDPMincho';
  font-size: 19px;
  margin: 0;
  padding: 0;
  background-color: #FFFAFB;
  color: #333;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.3;
  font-weight: 550;
  animation: fadeIn 1.5s ease-in-out;
}

/* fade in and slide up animation x)*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* i have no idea why this menu works but im not touching it*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 0;
}

.menu-item {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.3s ease;
  animation: fadeIn 1.5s ease-in-out;
}

.menu-item a {
  text-decoration: none;
  color: #333;
  font-weight: inherit;
  font-size: 13px;
  text-transform: inherit;
  display: inline-block;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

.menu-item a:hover {
  color: #D0C1C5;

}

.menu-item:hover {
  transform: scale(1.05);
}


/*images */


.flowerleft {
  position: absolute;
  text-align: left;
  margin-left: -50%;
  margin-top: -60%;
  width: 10%;
}

.flowerright {
  margin-right: -80%;
  margin-top: -55%;
  overflow: hidden;
  width: 20%;
}



.LastUpdated {
  max-width: 70%;
  visibility: visible;
  animation: fadeIn 1.5s ease-in-out forwards;

}

/*css for sections*/

#about-me {
  margin-top: -18%;
}

#projects {
  margin-top: -2%;

}


/* fade in on scroll animation */
.fade-on-scroll {
  visibility: hidden;
}
.animate {
  visibility: visible;
  animation: fadeIn 0.8s ease-in-out forwards;
}




